@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');

.scratch-page{
    background:#0b0018;
    color:white;
    min-height:100vh;
    font-family:'Nunito',sans-serif;
}

.scratch-nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 8%;
    height:70px;
    background:#050010;
}

.scratch-nav ul{
    display:flex;
    gap:2rem;
    list-style:none;
}

.scratch-nav a{
    text-decoration:none;
    color:white;
}

.scratch-nav a:hover{
    color:#FF6B00;
}

.scratch-hero{
    min-height:90vh;

    background:
    linear-gradient(rgba(0,0,0,.4),rgba(11,0,24,.95)),
    url("https://cdn.scratch.mit.edu/scratchr2/static/__cc6de801983b4fe0e5bd15ba64f84d3a__/images/blue-burst.png");

    background-size:cover;

    display:flex;
    justify-content:center;
    align-items:center;
}

.scratch-hero-content{
    text-align:center;
}

.scratch-logo{
    height:220px;
}

.scratch-stats{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:2rem;

    padding:80px 10%;
}

.stat-card{

    background:#130025;

    border-radius:20px;

    text-align:center;

    padding:40px;
}

.stat-card h1{

    color:#FF6B00;

    font-size:3rem;
}

.scratch-footer{

    padding:50px;

    text-align:center;

    background:#060010;
}